{% extends "authentication/base_auth.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Forgot Password
{% endblock %}

{% block content %}

<div class="login-page">

    <div class="login-card">

        <!-- LOGO -->

        <div class="auth-logo">

            <img
                src="{% static 'authentication/images/logo-img.png' %}"
                alt="CareNest Logo">

        </div>


        <!-- HEADING -->

        <div class="login-heading">

            <h1>
                Forgot Password?
            </h1>

            <p>
                Enter your email address and we'll send you
                a link to reset your password.
            </p>

        </div>


        <!-- FORM -->

        <form
            method="POST"
            class="login-form"
            novalidate>

            {% csrf_token %}


            <!-- EMAIL -->

            <div class="form-group">

                <label for="{{ form.email.id_for_label }}">
                    Email Address
                </label>


                {% if form.email.errors %}

                    {% render_field form.email class+="auth-input is-invalid" %}

                {% else %}

                    {% render_field form.email class+="auth-input" %}

                {% endif %}


                {% for error in form.email.errors %}

                    <div class="field-error">

                        <i class="fa-solid fa-circle-exclamation"></i>

                        {{ error }}

                    </div>

                {% endfor %}

            </div>


            <!-- SUBMIT -->

            <button
                type="submit"
                class="auth-button login-button">

                Send Reset Link

                <i class="fa-solid fa-paper-plane"></i>

            </button>

        </form>


        <!-- BACK TO LOGIN -->

        <div class="auth-footer">

            Remember your password?

            <a href="{% url 'login' %}">
                Sign In
            </a>

        </div>

    </div>

</div>

{% endblock %}