{% extends "authentication/base_auth.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Create New Password
{% endblock %}

{% block content %}

<div class="login-page">

    <div class="login-card">

        <!-- LOGO -->
        <div class="auth-logo">
            <img
                src="{% static 'authentication/images/logo-img.png' %}"
                alt="CareNest Logo">
        </div>


        <!-- HEADING -->
        <div class="login-heading">
            <h1>Create New Password</h1>
            <p>Enter a new password for your CareNest account.</p>
        </div>


        <!-- FORM -->
        <form
            method="POST"
            class="login-form"
            novalidate>
            {% csrf_token %}

            <!-- GENERAL ERRORS -->
            {% if form.non_field_errors %}
                <div class="form-general-error">
                    {% for error in form.non_field_errors %}
                        <div class="field-error">
                            <i class="fa-solid fa-circle-exclamation"></i>
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}


            <!-- NEW PASSWORD -->
            <div class="form-group">
                <label for="{{ form.new_password1.id_for_label }}">
                    New Password
                </label>

                <div class="password-wrapper">
                    {% if form.new_password1.errors %}
                        {% render_field form.new_password1 class+="auth-input is-invalid" %}
                    {% else %}
                        {% render_field form.new_password1 class+="auth-input" %}
                    {% endif %}
                    <i
                        class="fa-solid fa-eye toggle-password"
                        data-target="{{ form.new_password1.auto_id }}">
                    </i>
                </div>

                {% for error in form.new_password1.errors %}
                    <div class="field-error">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        {{ error }}
                    </div>
                {% endfor %}
            </div>


            <!-- CONFIRM PASSWORD -->
            <div class="form-group">

                <label for="{{ form.new_password2.id_for_label }}">
                    Confirm New Password
                </label>

                <div class="password-wrapper">
                    {% if form.new_password2.errors %}
                        {% render_field form.new_password2 class+="auth-input is-invalid" %}
                    {% else %}
                        {% render_field form.new_password2 class+="auth-input" %}
                    {% endif %}
                    <i
                        class="fa-solid fa-eye toggle-password"
                        data-target="{{ form.new_password2.auto_id }}">
                    </i>
                </div>


                {% for error in form.new_password2.errors %}
                    <div class="field-error">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        {{ error }}
                    </div>
                {% endfor %}
            </div>


            <!-- SUBMIT -->
            <button
                type="submit"
                class="auth-button login-button">
                Reset Password
                <i class="fa-solid fa-lock"></i>
            </button>

        </form>

    </div>

</div>

{% endblock %}