{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <div class ="title-box"> 
            <h1>Professional Registration</h1>
            <p>complete your profile details to join CareNest</p>
        </div>
        <link rel="stylesheet" href="{% static 'professional/css/register.css' %}" >  
    </head>
    <body>
        <form method="post" action= "{% url 'professionals' %}" enctype=multipart/form-data>
        {% csrf_token %}
            <div class="from-box">
        <div>
        <label>Qualifications</label><br>
        <textarea name="qualifications" required></textarea><br>
        </div>
             

        <div>
        <label>Experiance</label><br>
        <textarea name="experience" required> </textarea>
        </div>

        <div>
        <label>Consultation Fee</label><br>
        <input type ="text" id="fee" name="consultation_fee" step="0.01">
        </div>

        <div>
        <label>Language</label><br>
        <input type ="text" id="language" name="language">
        </div>

        <div>
        <label>NIC number:</label><br>
        <input type ="text" id="NIC" name="NIC">
        </div> 
        <div>
        <label>Bio</label><br>
        <input type ="text" id="bio" name="bio">
        </div>

        <div>
        <label>Specialization</label><br>
        <textarea name="description" required></textarea> 
        </div>

        <div>
        <label>District</label><br>
        <input type ="text" id="district" name="district">
        </div>

        <div>
        <label>city</label><br>
        <input type ="text" id="city" name="city">
        </div>

         <div>
            
            <label>submit the qualifications here </label>
            <input
                type="file"
                id="qualifications_file"
                name="qualifications_file"
                hidden
            >
             <button
                type="submit"
                onclick="document.getElementById('qualifications_file').click()">
                Add qualification here
            </button>
        </div>
        <div class = "button-box">
        <button type="submit" >Submit</button>
        </div>
        </form>

    </body>
</html>