{% extends "landing/base_public.html" %}

{% block title %}

CareNest | Home

{% endblock %}

{% block content %}

    {% include "landing/partials/hero.html" %}

    {% include "landing/partials/about.html" %}

    {% include "landing/partials/services.html" %}

    {% include "landing/partials/process.html" %}

    {% include "landing/partials/family_plan.html" %}

    {% include "landing/partials/expats_plan.html" %}

    {% include "landing/partials/faq.html" %}

    {% include "landing/partials/contact.html" %}

    {% include "landing/partials/footer.html" %}

{% endblock %}