<!DOCTYPE html>
<html>
<head>
    <title>Add Family Member</title>
</head>

<body>

    <h1>Add Family Member</h1>

    <p>
        Profiles:
        {{ family_count }} /
        {{ family_limit }}
    </p>

    {% if form.non_field_errors %}
        {{ form.non_field_errors }}
    {% endif %}

    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            Save Family Member
        </button>

        <a href="{% url 'patient_dashboard:dashboard' %}">
            Cancel
        </a>

    </form>

</body>
</html>