<!DOCTYPE html>
<html>
<head>
    <title>Delete {{ patient.patient_name }}</title>
</head>

<body>

    <h1>
        Delete Family Member
    </h1>

    <p>
        Are you sure you want to delete
        <strong>{{ patient.patient_name }}</strong>?
    </p>

    <p>
        This action cannot be undone.
    </p>

    <form method="POST">

        {% csrf_token %}

        <button type="submit">
            Yes, Delete
        </button>

        <a
            href="{% url 'patient_dashboard:patient_detail' patient.patient_id %}"
        >
            Cancel
        </a>

    </form>

</body>
</html>